.header {
  display: grid;
  grid-template-columns: 5% 80% 10% 5%;
  background-color: #222d48;
  color: #ffffff;
  min-height: 10vh;
  padding: 0.5%;

  .logo {
    width: 15%;
  }

  .pt-5 {
    padding-top: 10%;
  }
}